<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baseapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".AddNewCard.AddNewCard"
            android:exported="false" />
        <activity
            android:name=".PaymentMethod.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BookingsDetails.BookingDetails"
            android:exported="false" />
        <activity
            android:name=".MyBooking.MyBooking"
            android:exported="false" />
        <activity
            android:name=".Contact.Contact"
            android:exported="false" />
        <activity
            android:name=".About.About"
            android:exported="false" />
        <activity
            android:name=".Locations.Locations"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.ForgotPassword3.ForgotPasswordActivity3"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.ForgotPassword2.ForgotPasswordActivity2"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.ForgotPassword1.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.StartActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.Signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticationModule.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.baseapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>